li{
	display: inline-block;
	list-style-type: none;
	padding: 20px;
	color: black;
	height: 40px;
}

ul{
	text-align: right;
	background-color: lightblue;
	font-size: 25px;
	margin-top: 0px;
	padding-right: 10px;
	font-family: 'Patrick Hand', cursive;
	padding: 1px;
}

li:hover{
	background-color: darkblue;
	color: white;
	text-shadow: 1px 1px grey;
}

a{
	text-decoration-line: none;
	color: black;
}

img{
	display: block;
	margin: auto;
}

#co{
	position: relative;
	margin: auto;
	height: 600;
	width: 100%;
	background-image: url(images/slider.jpg);
	background-size: cover;
	background-position: center;
}

#ab1{
	position: absolute;
	left: 30%;
	top: 40%;
	width: 40%;
	height: 100px;
	background-color: rgba(255,81,76,0.40);
	color: white;
	font-size: 20px;
	font-family: 'Patrick Hand', cursive;
	color: rgba(255, 255, 255, 0.75);
	padding-top: 5x;
}

