body{
	background-color: whitesmoke;
}
.intro{
	background-color: skyblue;
	margin: 5px;
	padding: 10px;
	overflow: auto;
}

.img1{
	border-radius: 100%;
	float: left;
	margin-right: 20px;
}

a{
	text-decoration-line: none;
	color: black;
}

.text{
	font-family: 'Shadows Into Light', cursive;
	line-height: 30px;
	font-size: 20px;
	letter-spacing: 1px;
	text-align: justify;
}

.img2{
	float: right;
	border-radius: 10%;
	margin: 20px;
}

#co{
	border: 10px solid skyblue;
	overflow: auto;
	padding: 20px;

}