body{
	margin: auto;
}

.img1{
	background-image: url(images/dinos.jpg);
	height: 1100px;
	opacity: 0.5;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	padding: 0px;
}

.txt{
	background-color: rgba(125, 125, 125, 0.90);
	color: rgba(255, 255, 255, 0.90);
	position: absolute;
	letter-spacing: 8px;
	font-size: 40px;
	font-family: 'Style Script', cursive;
	width: 100%;
	text-align: center;
}

.txt2{
	background-color: lightgray;
	color: white;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	padding: 10px;
	font-family: 'Style Script', cursive;
	width: 98.5%;
}

.img2{
	background-image: url(images/trex.jpg);
	height: 1100px;
	opacity: 0.5;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	padding: 0px;
}

h2{
	color: antiquewhite;
	padding: 5px;
}

.txt3{
	color: navajowhite;
	position: absolute;
	letter-spacing: 8px;
	font-size: 40px;
	width: 100%;
	top: 500px;
	font-family: 'Style Script', cursive;
	text-align: center;
}

.txt4{
	background-color: #8f8f8f;
	color: white;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	width: 98.5%;
	padding: 10px;
	font-family: 'Style Script', cursive;
}

.img3{
	background-image: url(images/d3.jpg);
	height: 1100px;
	opacity: 0.5;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	padding: 0px;
}

.txt5{
	background-color: #595959;
	color: white;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	width: 98.5%;
	padding: 10px;
	font-family: 'Style Script', cursive;
}

#i{
	top: 100px;
}

#i2{
	top: 500px;
}

