.div1{
	border: 2px solid red;
	background-color: yellow;
}

.div2{
	border: 5px solid green;
	background-color: lightgreen;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 500px;
	padding: 10px;
}