ul{
	margin: 0px;
	background-color: aliceblue;
	list-style-type: none;
	height: 200px;
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding-left: 0px;
}

body{
	margin: 0px;
}

.l2{
	float: right;
	padding: 60px 10px 10px 50px;
}

a{
	text-decoration: none;
	color: orange;
	font-weight: 700;
	border-radius: 10px;
	padding: 10px;
}

a:hover{
	color: white;
	text-decoration: underline;
	background-color: black;
}

.l1{
	float: left;
	margin: 10px 0px 0px 10px;
}
.dropdown{
	position: relative;
}

.ddnct{
	display: none;
	background-color: cadetblue;
	min-width: 160px;
}

.dropdown:hover .ddnct{
	display: block;
	position: absolute;
	top: 110px;
	left: 10px;
}

.subm{
	display: block;
	text-decoration: none;
	padding: 20px;
	border-bottom: 1px solid lightblue;
	text-align: center;
	border-radius: 0px;
	color: black;
	font-weight: unset;
}

.abbox{
	width: 200px;
	height: 200px;
	overflow: auto;
	font-size: 25px;
}
