body{
	background-image: url(images/nothron.png);
	background-repeat: no-repeat;
	background-position: top right;
	text-align: center;
	background-color: #1aa3ff;
}
#para1{
	color: red;
	font-weight: bold;
	font-size: 25px;
}
.newClass{
	color: red;
	text-align: center;
}
#para2{
	background-color: #1aff1a;
}
p{
	border: 4px dotted #ff9933;
}